/* Media queries, Tablet */

@media(max-width:799px) {
  
  h1{
    font-size: 21px;
    
  }
  
  #header {
      
    padding: 10px 20px;
    
  } 
  #page-header h1{
    color: #fff;
    font-size: 22px;
    font-weight: 600;
  } 
  #page-header h2{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
  } 
  #page-header h4{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
  }   
  .section-p1{
      padding: 40px 40px;
    }
    #navbar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: 0;
      right: -300px;
      height: 100vh;
      width: 300px;
      background-color: #E3E6F3;
      box-shadow: 0 40px 60px rgb(0, 0, 0, 0.1) ;
      padding: 80px 0 0 10px;
      transition: 0.5s ease-in-out;
    }
  
    #navbar.active{
      right: 0px ;
    }  
    #navbar li{
      margin-bottom: 25px;
    }
    .mobile{
      display: flex;
      align-items: center;
      gap: 1rem;
      color: black;
      font-size: 20px;
      padding-left: 20px;
    }
    #close{
      display: initial;
      position: absolute;
      top: 30px;
      left: 30px;
      color: #041e42;
      font-size: 24px;
    }
    #header .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
    }
    #hero{
      height: 70vh;
      padding: 0 80px;
      background-position: top 30% right 30%;
    }
    #hero h1{
      letter-spacing:normal;
    }
    #hero::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 70vh;
      background: rgba(0, 0, 0, 0.5); /* Superposition semi-transparente noire */
      z-index: 1; /* Place le pseudo-élément derrière le contenu */
    }
    #banner{
      height: 700px;
    }
    #sm-banner .banner-box {
      min-width: 100%;
      height: 350px;
      padding: 5px;
    }
    #sm-banner .banner-box2 {
      min-width: 100%;
      height: 300px;
  
    }
    #banner3{
      padding: 0 40px;
    }
    #banner3 .banner-box {
      width: 28px;
    }
  
    #newsletter .form{
      width: 70%;
    }
     #about-head{
      flex-direction: column;
      text-align: center;
     }
     #about-head p{
      text-align: justify;
     }
     #about-head img {
      min-width: 100%;
      height: auto;
     }
     #about-app .video{
      min-width: 100%;
     }
     /* contact page styles */
    #contact-details {
      flex-direction: column;
    }
  
     #contact-details .details {
      min-width: 100%;
    }
    #contact-details .map {
      min-width: 100%;
    }
    #form-details form {
      min-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      
    }
    #form-details .people {
      min-width: 100%;
      margin-top: 25px;
        
    }
    #form-details .people {
      min-width: 100%;
      margin-top: 25px; 
    }
    .mobile i{
      font-size: 23px;
    }
    #about-app .video{
      min-width: 100%;
     }
     #featured-page .featured-page-text{
      min-width : 100%;
    }
    #fieldset img{
      width: 100%;
      height: 200px;
    }
      
  }

/* Media queries, Tablettes */

@media (max-width: 999px) {
  h1{
  color: #fff;
  font-size: 21px;
  font-weight: 600;
  }
  #header {
      
    padding: 10px 20px;
    
  }
  #hero h1{
    letter-spacing:normal;
  }
    
  #page-header h1{
    color: #fff;
    font-size: 23px;
    font-weight: 600;
  } 
  #page-header h2{
    color: #fff;
    font-size: 21px;
    font-weight: 600;
  } 
  #page-header h4{
    color: #fff;
    font-size: 19px;
    font-weight: 600;
  }  
  #banner{
    height: 700px;
  }
  #about-app .video{
    min-width: 100%;
   }
  #sm-banner .banner-box {
    min-width: 100%;
    height: 350px;
    padding: 5px;
    line-height: 25px;
  }
  #sm-banner .banner-box2 {
    min-width: 100%;
    height: 300px;

  }
  
  #form-details form {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }
  #form-details .people {
    min-width: 100%;
    margin-top: 25px;
      
  }
  #contact-details {
    flex-direction: column;
  }
  #contact-details.details {
    min-width: 100%;
  }
  #contact-details.map {
    min-width: 100%;
  }
  #featured-page .featured-page-text{
    min-width : 100%;
  }
  #fieldset img{
    width: 100%;
    height: 250px;
  }
}


  /* Small devices */
  @media (max-width: 477px) {
    .section-p1 {
      padding: 15px 20px;
    }
    
    #page-header h1{
      color: #fff;
      font-size: 20px;
      font-weight: 600;
    } 
    #page-header h2{
      color: #fff;
      font-size: 18px;
      font-weight: 600;
    } 
    #page-header h4{
      color: #fff;
      font-size: 16px;
      font-weight: 600;
    } 
    .section-p1{
      padding: 20px;
    }
    #header {
      padding: 10px 30px;
    }
    h1 {
      font-size: 20px;
    }
    h2 {
      font-size: 18px;
    }
    #header {
      
      padding: 10px 20px;
      
    }
    #header .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
    }
    #hero {
      padding: 0 20px;
      background-position: 55%;
      height: 70vh;
    }
    #hero h1{
      letter-spacing:normal;
    }
    #hero::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 70vh;
      background: rgba(0, 0, 0, 0.5); /* Superposition semi-transparente noire */
      z-index: 1; /* Place le pseudo-élément derrière le contenu */
    }
    #banner{
      height: 700px;
    }
    #sm-banner .banner-box {
      min-width: 100%;
      height: auto ;
      padding: 5px;
    }
    #sm-banner .banner-box2 {
      min-width: 100%;
      height: 300px;
  
    }
    #sm-banner h1 {
      font-size: 20px;
      
    }
    #sm-banner .banner-box h2 {
      font-size: 18px;
      
    }
    #banner3 {
      padding: 0 20px;
    }
    #banner3 .banner-box{
      width: 100%;
    }
    #newsletter  {
      padding: 40px 20px;
    }
    #newsletter .form {
      width: 100%;
    }
    
    footer a{
      font-size: 13px;
    }

     /*about-page mediaqueries*/
  
     #about-head{
      flex-direction: column;
      text-align: center;
     }
     #about-head p{
      text-align: justify;
     }
     #about-head img {
      min-width: 100%;
      height: auto;
      margin-bottom: 10px;
     }
     #about-app .video{
      min-width: 100%;
     }
     /*contact page */
      #contact-details {
        flex-direction: column;
      }
      #contact-details .details h2,
      #form-details form h2 {
        font-size: 14px;
        margin: 0;
      }
      #contact-details .details h3 {
        font-size: 13px;
        line-height: 10px;
      
      }
      #form-details form span {
        font-size: 12px;
        padding-bottom:15px ;
      
       }
      #contact-details .details li {
        list-style: none;
        display: flex;
        padding: 5px 0;
      }
      #contact-details .details li i {
        font-size: 12px;
        padding-right:20px ;
      }
      #contact-details .details li p {
        margin:0;
        font-size: 12px;
      }
  
      #contact-details .details {
        min-width: 100%;
      }
      #contact-details .map {
        min-width: 100%;
      }
      #form-details form {
        min-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
      }
      #form-details .people {
        min-width: 100%;
        margin-top: 20px;
          
      }
      .mobile i{
        font-size: 20px;
      }

      /* featured-page styles */
      #featured-page .featured-page-text{
        min-width : 100%;
      }
      #fieldset img{
        width: 100%;
        height: 200px;
      }
    }